.split {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.secondary {
    color: #5E5E5E;
    font-size: 0.75em;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.block-span {
    display: block;
    margin-bottom: 0.25em;
}

.margin-bottom {
    margin-bottom: 1em;
}