body {
    @import './components/styles/abstracts';
    @import './components//styles//datepicker';

    width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow-y: hidden;
    display: flex;
    flex-flow: column nowrap;

    a {
        color: inherit;

        &:hover {
            color: inherit;
        }
    }

    #app {
        #heading {
            height: 7%;
            width: 100%;
            display: flex;
            margin: 0;
            // background-color: rgba($color: #000000, $alpha: 0.9);

            .fifteen {
                display: flex;
                justify-content: center;
                align-items: center;
                border-bottom: 2px solid rgba(34, 36, 38, 0.15);
                padding: 0;

                .ui.header {
                    font-family: 'Montserrat', sans-serif;
                    font-weight: 400;
                }
            }

            .heading-sidebar {
                background-color: #001E00;
                display: flex;
                justify-content: center;
                align-items: baseline;
            }

            
        }

        .app-frame {
            width: 100%;
            height: 93%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-flow: row nowrap;

            .nav-sidebar {
                background-color: #001E00;
                display: flex;
                flex-flow: column;
                align-items: center;
                padding: 1%;

                a[href='#/settings'] {
                    position: absolute;
                    bottom: 1em;
                }

                i.inverted.icon {
                    padding: 1.5em 0;
                }
            }

            #router {
                padding: 0;

                .contrast {
                    background-color: #F9FBFA;
                }

                @import './components/styles/settings';
                @import './components/styles/charts';
            }
        }
    }

    .squarify {
        padding: .25rem !important;
        overflow-y: scroll;

        .ui.transparent.input {
            border-bottom: 1px solid rgba(34, 36, 38, 0.15);
            padding: .25em;
            margin-bottom: .5em;

            &:focus-within {
                border-bottom-color: #767676;
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0 !important;
}

::-webkit-scrollbar-track {
    background: transparent !important;
}
